:root {
    --pink: #D5048D;
    --white: #ffff;
    --blue: #0600FF;
    --purple: #5E1CE3;
    --yellow: #FFC81F;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img[src*="bgNew.png"] {
    background-color: transparent !important;
}

.t-w {
    color: #fff;
}

.t-pkm {
    font-family: 'POKMNFont';
}

.p-0 {
    padding: 0;
}

/* -------------- SECTION NAVBAR -------------- */

#app>div>div>div>nav.v-navigation-drawer--rail .v-list-item__prepend {
    width: 42px;
}

.v-list-item--density-compact.v-list-item--one-line {
    height: 48px;
}

.v-divider {
    margin-bottom: 10px;
}

.v-list-item .v-img {
    margin-right: 0 !important;
}

.v-list-item__prepend {
    justify-content: flex-end;
    width: 56px;
}

.v-list-item__spacer {
    width: 10px !important;
}

.v-list-item .v-list-item-title {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.disconnected {
    filter: grayscale(100%);
}

.v-list {
    margin: 0;
    padding: 0;
}

.v-list-item--active {
    background: linear-gradient(90deg, var(--pink) -3.57%, var(--blue) 103.57%);
    color: white !important;
    /* cambia el color del texto/icono */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#app>div>div>div>nav.v-navigation-drawer--rail>div.v-navigation-drawer__content>div.v-list.v-list--nav.v-theme--dark.bg-transparent.v-list--density-compact.v-list--one-line>a.v-list-item.v-list-item--active.v-list-item--link.v-list-item--nav.v-theme--dark.v-list-item--density-compact.v-list-item--one-line.v-list-item--rounded.v-list-item--variant-text.marginLine {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 61px;
}

#app>div>div>div>nav>div.v-navigation-drawer__content>div.v-list.v-list--nav.v-theme--dark.bg-transparent.v-list--density-compact.v-list--one-line>a>div.v-list-item__prepend>div.v-responsive.v-img.me-2>img,
#app>div>div>div>nav>div.v-navigation-drawer__append>div>div.v-list-item.v-list-item--link.v-list-item--nav.v-theme--dark.v-list-item--density-compact.v-list-item--one-line.v-list-item--rounded.v-list-item--variant-text>div.v-list-item__prepend>div.v-responsive.v-img.me-2>img {
    width: 28px;
    margin-left: 16px;
}

#app>div>div>div>nav.v-navigation-drawer--rail>div.v-navigation-drawer__content>div.v-list.v-list--nav.v-theme--dark.bg-transparent.v-list--density-compact.v-list--one-line>a>div.v-list-item__prepend>div.v-responsive.v-img.me-2>img,
#app>div>div>div>nav>div.v-navigation-drawer__append>div>div.v-list-item.v-list-item--link.v-list-item--nav.v-theme--dark.v-list-item--density-compact.v-list-item--one-line.v-list-item--rounded.v-list-item--variant-text>div.v-list-item__prepend>div.v-responsive.v-img.me-2>img {
    width: 32px !important;
    margin-left: 5px !important;
}

.v-list-item--active .v-img {
    filter: invert(1);
}

.bgProfile {
    border-radius: 10px;
    background-color: #00E5FF;
    width: 56px;
    margin: auto auto auto 25px;
}

#app>div>div>div>nav.v-navigation-drawer--rail>div.v-navigation-drawer__append>div>div.bgProfile {
    width: 28px !important;
    margin: auto;
    border-radius: 20px;
    height: 28px !important;
}

#app>div>div>div>nav>div.v-navigation-drawer__append>div>a>div>div {
    text-transform: initial !important;
    margin-left: 15px;
}

#app>div>div>div>nav.v-navigation-drawer--rail>div.v-navigation-drawer__append>div>a>div>div {
    margin-left: 0;
}

#app>div>div>div>nav>div.v-navigation-drawer__append>div>a>div.v-list-item__append {
    width: 75px;
    margin-top: auto;
}

#app>div>div>div>nav.v-navigation-drawer--rail>div.v-navigation-drawer__append>div>a>div.v-list-item__append {
    display: none;
}

#app>div>div>div>nav>div.v-navigation-drawer__append>div>a>div.v-list-item__append>div.v-responsive.v-img.me-2>img {
    height: 6px;
}

/* -------------- FIN SECTION NAVBAR -------------- */

/* -------------- SECTION HOME -------------- */
.divCardSup {
    background-color: var(--pink);
}

.divCardLog {
    background-color: var(--purple);
}

.textNoticias {
    font-size: 22px;
    font-family: 'POKMNFont';
    color: var(--white);
    font-weight: 100;
    letter-spacing: 2px;
}

.tittleTweet {
    color: var(--pink);
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
}

.gradient-border {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
}

.gradient-border::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, var(--blue) -3.57%, var(--pink) 103.57%);
}

.p-tweet {
    font-size: 14px;
}

.sectionVS {
    position: relative;
    padding: 24px 24px 0 24px;
}

.sectionVS .avatarVS {
    position: absolute;
    padding: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: var(--white);
    top: 50%;
}

.team1,
.team2 {
    position: relative;
    height: 77px;
}

.sectionVS .avatarTeam {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.sectionVS .team1 {
    background-color: var(--pink);
}

.sectionVS .team2 {
    background-color: var(--blue);
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.nameTeam1,
.nameTeam2 {
    background-color: var(--white);
    z-index: 15;
    position: absolute;
    border-radius: 20px;
    padding: 5px 10px;
    font-family: 'POKMNFont';
    font-size: 10px;
    box-shadow: 0px 4px 4px 0px #00000026;
}

.nameTeam1 {
    left: 5px;
    bottom: 5px;
}

.nameTeam2 {
    right: 5px;
    bottom: 5px;
}

.btnHome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 24px;
    height: 54px;
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid transparent;
    background-clip: padding-box;
    position: relative;
    overflow: hidden;
}

.btnHome::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px;
    padding: 1px;
    /* grosor del borde */
    background: linear-gradient(90deg, var(--pink) 0%, var(--blue) 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: 0;
    font-weight: 700;
}

.btnHome .btn-text {
    position: relative;
    z-index: 1;
    color: black;
    cursor: pointer;
}

.btnHome .btn-icon {
    background: var(--pink);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    z-index: 1;
    cursor: pointer;
}

.btnHome .iconArrow {
    cursor: pointer;
    font-weight: 800;
    text-shadow: 0 0 2px white;
}

.custom-badge {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    padding: 0;
}

.iconBallPoke {
    position: absolute;
    z-index: 100;
    top: 0;
    left: -5px;
}

/* -------------- FIN SECTION HOME -------------- */

/* -------------- SECTION COMBATS -------------- */
.textTeamCombats {
    font-size: 15px;
    font-family: 'POKMNFont';
    color: var(--white);
    font-weight: 100;
    letter-spacing: 2px;
}

.cardCombats {}

.custom-boost-badge {
    background-color: var(--pink);
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    width: 20px;
    height: 20px;
}

.statsContent {
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.badgeIcon {
    position: relative;
}

.v-badge__wrapper {
    position: absolute;
    left: -30px;
}

.cardPokemon {
    position: relative;
    border-radius: 40px;
    background-color: white;
    padding: 1rem;
    z-index: 1;
    overflow: hidden;
    margin: 10px 20px;
    text-align: center;
}

.cardPokemon::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    /* grosor del borde */
    border-radius: inherit;
    background: linear-gradient(180deg, var(--pink) 0%, var(--blue) 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    pointer-events: none;
}

.pokemon-number {
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #aaa;
    align-self: flex-end;
}

.pokemon-name {
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
}

.pokemon-level {
    font-size: 14px;
    color: #000;
    font-weight: 700;
}

.v-progress-linear__background {
    background-color: #adadad !important;
}

.containerMovPokeBattle {
    background-color: transparent;
    position: relative;
    border-radius: 40px;
    background-color: white;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.containerMovPokeBattle::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    /* grosor del borde */
    border-radius: inherit;
    background: linear-gradient(180deg, var(--pink) 0%, var(--blue) 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    pointer-events: none;
}

.cardImgPokeBattle {
    width: 114px;
    display: flex;
    align-items: center;
    height: fit-content;
}

.cardImgPokeBattle img {
    width: 130px;
    height: fit-content;
}

#app>div>div>div>main>div>main>div>div>div>div>div:nth-child(1)>div.v-col.v-col-8>div>div.v-container.v-locale--is-ltr.pa-6>div>div>div>div,
#app>div>div>div>main>div>main>div>div>div.v-row>div>div>div.v-col.v-col-8>div>div.v-container.v-locale--is-ltr.pa-6>div>div>div>div {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

#movSection>div>div {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

div.v-col.v-col-4>div.statsContent>span {
    font-size: 12px;
    font-weight: 900 !important;
}

.badges-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-right: 1rem;
}

.informationMov {
    max-width: 200px;
}

.tittleMoves {
    padding: 0 !important;
    margin-left: 40px;
}

.tittleMoves h1 {
    font-size: 20px;
    letter-spacing: 2px;
    background: linear-gradient(270deg, #0600FF 20%, #D5048D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900 !important;
    width: fit-content;

}

.containerLogsCombats {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.containerLogsCombats button {
    width: 100%;
    background-color: var(--purple) !important;
    height: 45px!important;
    border-radius: 20px;
}

.logText{
    padding-right: 15px;
}

.logsElementsDiv{
    display: flex;
    justify-content: flex-start!important;
    align-items: center;
    margin: 0!important;
}

.letrasMinus{
    text-transform: inherit!important;
}

.marginLogs{
    margin-left: 15px;
}

.textTeamCombatsLog{
    font-size: 14px;
    color: var(--white);
    font-weight: 100;
    letter-spacing: 2px;
    font-weight: 500;
}

.tamaImg{
    width: 24px;
    height: 24px;
    max-width: 24px;
}
/* -------------- FIN SECTION COMBATS -------------- */
/* -------------- SECTION DETAILS POKEMON -------------- */
.templateCardDetails{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsDetailsPokemon{
    width: 50%!important;
    max-width: 50% !important;
}

.textInfoPokemon {
    font-size: 25px;
    font-family: 'POKMNFont';
    color: #000000;
    font-weight: 400;
    letter-spacing: 2px;
}

div.templateCardDetails > div{
    border-radius: 20px;
}

.fotoPokeInfo{
    position: relative;
}

.fotoPokeInfo .infoNumber{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #E8E8E8;
    z-index: 9;
}

.cardPokemon .fotoPokeInfo .cardImgPokeBattle{
    z-index: 100;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.cardImgPokeBattle img{
    width: 100%;
}

.tittleStats {
    padding: 0 !important;
}

.tittleStats h1 {
    width: fit-content;
    font-size: 20px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    background: linear-gradient(270deg, #0600FF 0%, #D5048D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900 !important;
}

body > div.v-overlay-container > div.v-overlay.v-overlay--active.v-theme--light.v-locale--is-ltr.v-dialog.v-overlay--scroll-blocked > div.v-overlay__content > div > div > div.pa-4 > div:nth-child(1) > div.v-col.v-col-5 > div > div.fotoPokeInfo > div.cardImgPokeBattle > div > div{
    padding-bottom: 80%!important;
}

.infoAdicional p{
    padding: 3px 0;
}

.infoAdicional{
    padding-bottom: 20px;
}

.nivelMax{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
}

.nivelMax img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.nivelMax p{
    font-size: 16px;
    font-weight: 700;
}

.p-0{
    padding: 0!important;
}
/* -------------- FIN SECTION DETAILS POKEMON -------------- */